@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&display=swap');

/* browser css reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #effafa;
    font-family: 'Cairo', sans-serif;
}

.navigation {
    background-color: #5ba4a4;
    padding: 20px;
    text-align: center;
}

.navigation h4 {
    color: #fff;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.8rem;
}

.header {
    height: 80vh;
    padding: 0 15px;
    text-align: center;
}

.header img {
    margin-top: 15vh;
    width: 50vh;
}

.header h1 {
    color: rgba(117, 114, 114, 0.884);
    font-family: 'Sacramento', cursive;
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0;
    margin-top: 25px;
}

.header h2 {
    color: #5ba4a4;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2rem;
}

.about {
    background-color: #fff;
    height: auto;
    padding: 50px 30px 20px;
    text-align: center;
}

.about i {
    color: #5ba4a4;
    margin: 5px;
}

.about .icon-txt {
    font-size: 0.9rem;
    color: gray;
}

.img-about {
    border-radius: 50%;
    width: 30vh;
}

.about h2 {
    color: #5ba4a4;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2rem;
}

.about p, .about h5 {
    color: grey;
}

.sub-about td {
    color: grey;
}

td strong {
    color: #5ba4a4;
}

td {
    width: 50% !important;
}

.sub-about h3 {
    color: #5ba4a4;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.7rem;
}

.card {
    background-color: #effafa;
    border-right: 5px solid #5ba4a4;
    border-left: 5px solid #5ba4a4;
    width: 100%;
    min-height: 200px;
    padding: 25px 0;
    margin: 10px auto;
}

.card p {
    color: darkgray;
    letter-spacing: 2px;
}

.card strong {
    color: #5ba4a4;
    font-weight: bolder;
}

.carousel-item {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008b8b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    margin-bottom: 150px;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008b8b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    margin-bottom: 150px;
}

.contact {
    color: #ffeadb;
    width: 100%;
    height: auto;
    text-align: center;
}

.contact h2 {
    color: #5ba4a4;
}

.contact input, .contact textarea {
    background: transparent !important;
    border: 1px solid #5ba4a4 !important;
    border-radius: 0px !important;
    letter-spacing: 3px !important;
    margin: 10px auto;
    width: 80% !important;
}

.contact ::placeholder {
    color: black !important;
    font-weight: 200 !important;
    opacity: 0.4 !important;
}

.contact input[type=text] {
    color: black !important;
}

.contact button {
    border-radius: 50px;
    background-color: #5ba4a4;
    color: #fff;
}

.contact button:hover {
    border: 1px solid #5ba4a4;
    background-color: #fff;
    color: #5ba4a4;
}

footer {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
    background-color: #5ba4a4;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    margin: 5px 20px;
}